/* Header */

/* Section Start */
.wrap .banner {
  background-color: #f2f3f5;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.cover {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #ff8a41;
}

.banner .logo {
  width: 80%;
}

.banner .logo img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.banner-text .bnner-h1 {
  margin-top: 4em;
  margin-left: 2em;
}

.banner-text h1 {
  font-size: 2.5em;
  font-weight: 400;
  font-family: "Poppin";
}

.banner-text .banner-p {
  font-family: Arial, Sans-Serif;
  font-size: 1.3rem;
  font-weight: 500;
  color: #3b3b3b;
  line-height: 1.33;
  letter-spacing: 1px;
  margin-left: 1.4em;
  margin-top: 0.7em;
  width: 70%;
}

/* items */
.items {
  font-family: ProximaNovaRegular, Arial, Sans-Serif;
  width: 100%;
  margin: auto;
  margin-top: 5px;
}

#box {
  display: grid;
  grid-template-columns: 400px 1fr;
  width: 100%;
}

#form {
  width: 100%;
  height: 100vh;
  margin: 4% 0;
  padding: 0 1em;
}

#form .heading h4 {
  color: rgb(53, 53, 67);
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  font-family: "Mier book";
  text-align: left;
  margin: 0px;
  padding: 0px 0px 28px;
}

/*LowtoHight Price  */
.select select {
  color: #0a021c;
  width: 100%;
  border: none;
  font-size: 18px;
  font-weight: 500;
  outline: none;
  width: 100%;
  padding: 10px 4px;
  overflow: hidden;
  /* border: 1px solid rgb(234, 234, 242); */
  border-bottom: 1px solid #cecede;
  /* border-radius: 4px; */
  cursor: pointer;
  font-family: "Roboto";
  /* border-radius: 4px; */
}

/* Form */
form .cetegory {
  width: 100%;
  border: 1px solid #3b3b3b;
  border-radius: 9px;
  margin-top: 2em;
}

.filter label {
  display: block;
  color: rgb(53, 53, 67);
  font-style: normal;
  font-weight: 600;
  font-size: 1.5em;
  margin: 0.5em 1.3em;
  padding: 0px;
}

.filter .btn-flex {
  display: flex;
  margin: 1em 0.5em;
  gap: 2em;
}

.filter input {
  padding: 0.8em 0.6em;
  list-style: 4em;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 500;
  font-family: "Poppins";
  /* border: 1px solid #8d8d90;
  background-color: #f2f3f5; */
}

.filter input:hover {
  background-color: #d9d9d9;
}

/* ======================Category filter============================== */

.cheked label {
  display: block;
  padding: 10px 0;
}
/* ==================================================== */

/* ================================================== */
/* Search */

.serch {
  border-color: #ffffff;
  position: relative;
  margin: auto;
}

.input {
  margin-top: 1.5em;
}

.input input {
  width: 300px;
  padding: 0.5em;
  font-size: 20px;
  font-weight: 400;
  color: #222;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
  border: 1px solid #cecede;
  /* border-top-left-radius: 7px; */
  /* border-bottom-left-radius: 7px; */
  font-family: serif;
  /* position: relative; */
}

.search-btn {
  position: absolute;
  padding: 0.8em;
  /* line-height: ; */
  background-color: #424769;
  color: #ffffff;
  /* margin-top: 0.5em; */
  font-size: 16px;
  border: none;
  outline: none;
  /* border-top-right-radius: 7px;
  border-bottom-right-radius: 7px; */
  font-family: serif;
}

.search-btn:hover {
  background-color: #453c5c;
}

.serch-icon {
  position: absolute;
  bottom: 0.5em;
  right: 1em;
}

.serch-icon i {
  font-size: 27px;
}

/* Container */
.pro {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* align-items: center; */
}

#container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  align-items: flex-end;
  justify-content: center;
  width: 80%;
  padding-top: 70px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.box img {
  width: 100%;
  height: 50%;
  cursor: pointer;
}

.box .name {
  text-align: left;
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  line-height: normal;
  letter-spacing: 0.5px;
  /* margin: 0 11px 16px 13px; */
}

.text {
  font-size: 1.3rem;
  font-weight: 400;
  font-family: "Poppins";
  color: #222;
  line-height: 1.25;
  letter-spacing: 0.5px;
}

.des {
  font-size: 1.2rem;
  font-weight: 400;
  color: #222;
  line-height: normal;
  margin-top: 1em;
  letter-spacing: 0.4px;
  overflow: hidden;
}

.price {
  font-size: 1.3rem;
  font-weight: 800;
  color: #222;
  letter-spacing: 0.5px;
  margin-top: 1em;
}

.size {
  font-size: 1.2rem;
  font-weight: 400;
  color: #000;
  line-height: 1rem;
  margin-top: 0.3em;
  letter-spacing: 0.5px;
  vertical-align: middle;
}

.box .addToCard {
  font-size: 1.2rem;
  font-weight: 500;
  color: #222;
  margin: 28px 0px 0 0;
  padding: 8px 0;
  width: 100%;
  border-radius: 4px;
  border: solid 1px #222;
  background-color: #fff;
  text-transform: uppercase;
}

.addToCard button {
  width: 100%;
  background-color: #ffffff;
  cursor: pointer;

  border-radius: 6px;
}
 
/* Footer */
