/* Header-start */

/* section */
.wrap {
  width: 100%;
  font-family: "Poppin", "Roboto";
}

.wrap .banner {
  background-color: #f2f3f5;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.cover {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #ff8a41;
}

.banner .logo {
  width: 80%;
}

.banner .logo img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.banner-text .bnner-h1 {
  margin-top: 4em;
  margin-left: 2em;
}

.banner-text h1 {
  font-size: 2.5em;
  font-weight: 400;
  font-family: "Poppin";
}

.banner-text .banner-p {
  font-family: Arial, Sans-Serif;
  font-size: 1.3rem;
  font-weight: 500;
  color: #3b3b3b;
  line-height: 1.33;
  letter-spacing: 1px;
  margin-left: 1.4em;
  margin-top: 0.7em;
  width: 70%;
}

#container {
  max-width: 1350px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 3em;
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(219, 219, 219, 0.5);
}

#container #head {
  margin-top: 2em;
  font-weight: 400;
  font-size: 1.4em;
  text-align: center;
  font-family: "Roboto";
  letter-spacing: 0.5px;
  line-height: 2;
  overflow: hidden;
}

#para {
  color: grey;
  text-align: center;
  margin-bottom: 40px;
  font-style: italic;
  font-size: 1em;
  width: 70%;
  margin: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#container .box-container {
  margin-top: 4em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  align-items: end;
}

.box {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  display: none;
}

#container .box-container .box:nth-child(1),
#container .box-container .box:nth-child(2),
#container .box-container .box:nth-child(3),
#container .box-container .box:nth-child(4),
#container .box-container .box:nth-child(5),
#container .box-container .box:nth-child(6) {
  display: inline-block;
}

.box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
  overflow: hidden;
  height: 250px;
}

.box .itemTitle {
  text-align: left;
  font-family: "Poppins";
  font-size: 1.2rem;
  font-weight: 500;
  color: #222;
  line-height: 1.25;
  letter-spacing: 0.5px;
  margin-top: 1rem;
}

.box .description {
  text-align: left;
  font-family: Sans-Serif;
  font-size: 1rem;
  font-weight: 400;
  color: #222;
  line-height: normal;
  letter-spacing: 0.5px;
  margin: 10px 0 20px;
}

.box .itemPrice {
  font-family: ProximaNovaMedium, Arial, Sans-Serif;
  font-size: 1.1rem;
  font-weight: 600;
  color: #222;
  line-height: 1.5;
  letter-spacing: 0.5px;
  text-align: left;
}

.box .rp {
  text-align: left;
}

.box .itemRating {
  text-align: left;
}

.box .itemBtn {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: 0.1rem solid #222;
  text-transform: uppercase;
  text-decoration: none;
  font-family: ProximaNovaRegular, Arial, Sans-Serif;
  font-size: 1.2rem;
  line-height: 1.71;
  border-radius: 0;
  width: 100%;
  padding: 0 1.6rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  outline: none;
  text-overflow: ellipsis;
  font-weight: 400;
  margin-top: 1em;
}

#load-more {
  margin-top: 20px;
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid #334;
  font-size: 16px;
  background-color: #fff;
  cursor: pointer;
}

#load-more:hover {
  background-color: crimson;
  border-color: crimson;
  color: #ffff;
}

/* Start Footer */
