@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700;800;900&family=Roboto:wght@100;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: border-box;
}

/*  */
a {
  text-decoration: none;
  color: #222;
}

ul {
  list-style: none;
}

body {
  font-family: "Poppins", "Roboto";
}

/* Upper-Description */
.top {
  text-align: center;
  line-height: 1.6rem;
  font-size: 1.2rem;
  width: 100%;
}

.top p {
  font-family: "ProximaNovaRegular", Arial, Sans-Serif;
  color: #55565a;
  background-color: #f7f4f2;
  box-shadow: 0 1px 4px rgba(0 4% 15% / 10%);
  padding: 0.5em 0;
  z-index: 10;
}



/* Header-start */
header {
  position: sticky;
  top: -0px;
  z-index: 9999;
  position: -webkit-sticky;
}

.container {
  box-shadow: 0 2px 4px 0 rgba(219, 219, 219, 0.5);
  background-color: #ffffff;
  transition: all 1.4s;
}

.right {
  width: 100%;
  border-bottom: 2px solid black;
  box-shadow: 0 2px 4px 0 rgba(219, 219, 219, 0.5);
} 

.right .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .icon {
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
  align-items: center;
  gap: 1.5rem;
}

.icon .icons-control a {
  font-size: 18px;
  color: #222222;
}

.icon .icons-control i {
  font-size: 16px;
  color: #222222;
}

/* left flexitem */
.flexitem {
  width: 100%;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.wrapper .items {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  padding-top: 3rem;
  padding-bottom: 1rem;
  gap: 4rem;
  font-family: "Poppin", "Roboto";
  font-weight: 700;
}

ul.items .hover-bottom::after {
  position: relative;
  left: 0;
  content: "";
  display: block;
  width: 0;
  height: 4px;
  bottom: -1rem;
  background: #80adc8;
  transition: width 0.3s;
  opacity: 1;
  z-index: 199;
}

ul.items .hover-bottom:hover::after {
  display: block;
  width: 100%;
}

nav .show-contaent {
  position: absolute;
  width: 100%;
  top: 5.4rem;
  left: 0;
  right: 0;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  z-index: 999;
  cursor: pointer;
}

nav li.has-child:hover .show-contaent {
  opacity: 1;
  visibility: visible;
  transition: all 0.4s;
}

.wrapping {
  height: 480px;
  display: flex;
  justify-content: space-around;
  background-color: #fffdfc;
  box-shadow: 0 2px 4px 0 rgba(219, 219, 219, 0.5);
  opacity: 0.9;
  overflow-x: hidden;
  border-bottom: 1px solid #d9d9d9;
}

.wrapping .flexcol h4 {
  margin-top: 2em;
  margin-bottom: 1rem;
}

.flexcol li {
  padding: 0.3rem 0;
  font-size: 17px;
  font-weight: 400;
} 



/* Footer */
footer {
  width: 100%;
  margin-top: 3em;
  margin-bottom: 1em;
  border-top: 1px solid #dfdfdf;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  border-bottom: 1px solid #dfdfdf;
}

/* remove this in media queries */
.About_and_help {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  gap: 10em;
  margin: 0 1.5em;
  margin-bottom: 1em;
}

.help_about_content .About_and_help_h5 {
  font-size: 1.3rem;
  font-family: Arial, Sans-Serif;
  color: #222;
  letter-spacing: 0.05rem;
  opacity: 0.9;
  margin-bottom: 1em;
}

.help_about_content .About_and_help_p {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #606060;
  padding: 5px 0;
  margin-top: 0.5em;
}

.About_and_help_p a {
  font-family: Arial, Sans-Serif;
  color: #222;
  letter-spacing: 0.05rem;
  font-weight: 400;
  font-family: "Roboto";
}

/* Social Icons */
.socials {
  width: 35%;
}

.socials .social_text {
  font-size: 2.3rem;
  font-weight: 500;
  color: #222;
  letter-spacing: 1px;
  font-family: serif;
}

.socials .madia_icons {
  display: flex;
  gap: 4rem;
}

.madia_icons a {
  font-size: 1.4em;
  line-height: 5;
  color: #222;
}

/*End Section */
.end {
  margin-top: 3em;
  margin-bottom: 0.1em;
}

.end p {
  font-family: Sans-Serif;
  font-weight: lighter;
  font-size: 13px;
  cursor: pointer;
  color: #222;
  display: inline-flex;
  letter-spacing: 0.05rem;
  font-weight: 500;
  color: #222;
}



/* scroll button  */
.back-to-top {
  position: absolute;
  background-color: #00b8e5;
  right: 1em;
  bottom: 8em;
  opacity: 0.8;
  width: 3.8rem;
  height: 3.8rem;
  border: 0;
  line-height: 3.8rem;
  border-radius: 2.5rem;
  text-align: center;
  font-weight: 400;
  color: #fff;
  font-family: ProximaNovaMedium, Arial, Sans-Serif;
  text-decoration: none;
  letter-spacing: 0.2rem;
  box-shadow: 0.1rem 0.1rem 0.5rem 0rem rgba(168, 164, 173, 0.5);
  padding: 0 0 0 0.3rem;
  transition: all 0.3s ease;
  box-sizing: border-box;
}